<%-include('../../views/layoutes/headeradmin.ejs')%>


<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            <a href=""> <button class="btn btn-danger">CATEGORY</button></a>
        </h2>
        <a href="/admin/addCategory"><button
                style="float:right;background-color:blue; color: rgb(255, 255, 255);">ADD NEW CATEGORY</button></a>

        <!-- With avatar -->
        <!-- With actions -->

        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">No</th>                          
                            <th class="px-4 py-3">Category</th>
                            <th class="px-4 py-3">EDIT</th>
                          




                        </tr>
                    </thead>


                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 " >
                        <% for(let i=0;i<category.length;i++){ %>










                            <tr class="text-gray-700 dark:text-gray-400">


                               
                                    <td class="px-4 py-3">
                                        <div class="flex items-center text-sm">
                                            <!-- Avatar with inset shadow -->

                                            <div>
                                                <p class="font-semibold">
                                                    <%= i+1 %>
                                                </p>

                                            </div>
                                        </div>
                                    </td>


                                <td class="px-4 py-3 text-sm ellipsis">
                                    <%= category[i].name%>
                                </td>

                                
                                <td>
                                    <div class="flex items-center space-x-4 text-sm">
                                        <a href="/admin/editcategory?id=<%= category[i]._id %>"><button
                                                style="background:green;">EDIT</button> </a>
                                    </div>
                                </td>
                             
                            </tr>









                            <%}%>
                    </tbody>
                </table>
            </div>
        </div>





    </div>

    

<style>
    .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* adjust as needed */
  position: relative;
}

.ellipsis:hover:after {
  content: attr(title);
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: normal;
  background-color: #333;
  color: #fff;
  padding: 5px;
}

</style>


</main>

