<!DOCTYPE html>
<html lang="en">

<head>


    
 
  <title>Ball ten</title>
  <link style="border-radius:50%;" rel="shortcut icon" href="https://www.pngitem.com/pimgs/m/55-559468_football-player-vector-png-clipart-png-download-football.png" type="image/png">
 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <script href="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> 

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Ion Icon Fonts-->
  <link rel="stylesheet" href="css/ionicons.min.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="css/magnific-popup.css">

  <!-- Flexslider  -->
  <link rel="stylesheet" href="css/flexslider.css">

  <!-- Owl Carousel -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <!-- Date Picker -->
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <!-- Flaticons  -->
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <!-- Theme style  -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

 

 

    <div class="colorlib-loader" ></div>
  <div id="page">
    <nav class="colorlib-nav" role="navigation">
      <div class="top-menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-md-9">
              <div id="colorlib-logo"><a href="#">Ballten</a></div>
            </div>
            <div class="col-sm-5 col-md-3">
              <form action="#" method="post" class="search-wrap">
                <div class="form-group">
                  <input type="search" name="search" class="form-control search" placeholder="Search">
                  <button class="btn btn-primary submit-search text-center" type="submit"><i
                      class="icon-search"></i></button>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-left menu-1">
              <ul>
                <li class="name"><a href="/home">Home</a></li>
                <li class="has-dropdown">
                  <a href="/women">shop</a>
                </li>
                    
                <li class="name"><a href="/getwish">wishlist</a></li>
                <li class="name"><a href="/profile">profile</a></li>
                <li class="name"><a href="/orderhistory">Orders</a></li>      
                <li><a class="btn btn-success float-right" style="color:rgb(255, 255, 255)" href="/logout">LOGOUT</a>
                </li>
                <li><a class="cart btn btn-warning float-right" href="/getcart"><i class="icon-shopping-cart"></i>Cart</a></li>                         
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="sale">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
              <div class="row">
                <div class="owl-carousel2">
                  <div class="item">
                    <div class="col">
                      <h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col">
                      <h3><a href="#">Our biggest sale yet 50% off all summer Balls</a></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
</div>
    <style>

      .icon-heart{
        font-size:24px;
      }
    </style>