<%- include('../layoutes/header.ejs') %>


    <div class="row pt-3">
        <div class="col-lg-6 container  ">
            <form method="post" class="colorlib-form">
                <h2>Billing Details</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="country">Select Country</label>
                            <div class="form-field">
                                <i class="icon icon-arrow-down3"></i>
                                <select name="country"  id="people" class="form-control">
                                    <option value="#">Select country</option>
                                    <option value="Alaska">Alaska</option>
                                    <option value="China">China</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Korea">Korea</option>
                                    <option value="Philippines">Philippines</option>
                                    <option value="india">india</option>
                                    <option value="America">America</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" name="fname" class="form-control" placeholder="Your firstname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" name="lname" class="form-control" placeholder="Your lastname">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fname">Address</label>
                            <input type="text" id="address" name="address" class="form-control" placeholder="Enter Your Address">
                        </div>
                       
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="companyname">Town/City</label>
                            <input type="text" id="towncity" name="place" class="form-control" placeholder="Town or City">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="stateprovince">State/Province</label>
                            <input type="text" id="fname" name="state" class="form-control" placeholder="State Province">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lname">Zip/Postal Code</label>
                            <input type="text" id="zippostalcode" name="pincode" class="form-control" placeholder="Zip / Postal">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">E-mail Address</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="State Province">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Phone">Phone Number</label>
                            <input type="number" name="phone" id="zippostalcode" class="form-control" placeholder="enter phone number">
                        </div>
                    </div>

                    <div class="container">
                        <input type="submit" value="Add Address" class="btn btn-info btn-lg">                   
                    </div>


                </div>

            </form>

        </div>

    </div>
    <footer id="colorlib-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col footer-col colorlib-widget">
					<h4>About Ballten</h4>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
						unorthographic life</p>
					<p>
					<ul class="colorlib-social-icons">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Customer Care</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a href="#">Contact</a></li>
						<li><a href="#">Returns/Exchange</a></li>
						<li><a href="#">Gift Voucher</a></li>
						<li><a href="#">Wishlist</a></li>
						<li><a href="#">Special</a></li>
						<li><a href="#">Customer Services</a></li>
						<li><a href="#">Site maps</a></li>
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Information</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a href="#">About us</a></li>
						<li><a href="#">Delivery Information</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Order Tracking</a></li>
					</ul>
					</p>
				</div>

				<div class="col footer-col">
					<h4>News</h4>
					<ul class="colorlib-footer-links">
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Exhibitions</a></li>
					</ul>
				</div>

				<div class="col footer-col">
					<h4>Contact Information</h4>
					<ul class="colorlib-footer-links">
						<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
						<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
						<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						<li><a href="#">yoursite.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>
						<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
						<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a
								href="http://pexels.com/" target="_blank">Pexels.com</a></span>
					</p>
				</div>
			</div>
		</div>
	</footer>

<%- include('../layoutes/footer.ejs') %>